{% load staticfiles %}

<!-- Custom fonts for this template-->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

<style>
.input_field {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 4px;
	margin: 3px 0;
	font-size: 14px;
	width: 100%;
}
.form_box {
	background-color: #ffffff;
	margin: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 10px;
}
.textarea_field {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 4px;
	margin: 3px 0;
	font-size: 14px;
	width: 100%;
	height: 160px;
}
.write_button {
	background-color: #475d9f;
	border: 1px solid #323f6b;
	color: #ffffff;
	border-radius: 4px;
	padding: 2px 8px;
	font-soze: 18px;
}
</style>
<div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Data Table</div>
        <div class="card-body">
          <div class="table-responsive">
                <a id="home_btn" class="write_button" href="{% url 'master_home' %}">home</a>

<div style="margin-top:16px" id="main">
    <div class="form-box">
        <form action="{{{report.id}}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <!-- action 추가 필요 -->
            {% csrf_token %}
            <h2>게시물 올리기</h3>
            신고자:<input class="input_field" type="text" placeholder="{{report.user_nickname}}" name="user_nickname"><br>
            신고내용:<textarea class="textarea_field" placeholder="{{report.report_contents}}" name="report_contents"></textarea><br>
            <button class="write_button">게시</button>
        </form>
    </div>
</div>

</div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
