{% load staticfiles %}

<!-- Custom fonts for this template-->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

<style>
.input_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
}
.form_box {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}
.textarea_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
    height: 160px;
}
.write_button {
    background-color: #475d9f;
    border: 1px solid #323f6b;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 18px;
}
.red_button {
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(200, 0, 0);
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 18px;
}
</style>
<div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Data Table</div>
        <div class="card-body">
          <div class="table-responsive">
                <a id="home_btn" class="write_button" href="{% url 'master_home' %}">home</a>

<a id="home_btn" class="write_button" href="{% url 'master_home' %}">home</a>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Shelter Name</th>
            <th>Phone Number</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ dog_shelter.shelter_name }}</td>
            <td>{{ dog_shelter.phone_num }}</td>
            <td>{{ dog_shelter.description }}</td>
        </tr>
    </tbody>
</table>


<a id="list_btn" class="write_button" href="{% url 'master_dog_shelter_list'%}">list</a>

<a id="update_btn" class="write_button"  href="{% url 'master_dog_shelter_update' pk=dog_shelter.id  %}">update</a>

<a id="delete_btn" class="red_button"  href="{% url 'master_dog_shelter_delete' pk=dog_shelter.id  %}">delete</a>


</div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
