{% load staticfiles %}
{{ finder_post.title }}
<style>
.input_field {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 4px;
	margin: 3px 0;
	font-size: 14px;
	width: 100%;
}
.form_box {
	background-color: #ffffff;
	margin: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 10px;
}
.textarea_field {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 4px;
	margin: 3px 0;
	font-size: 14px;
	width: 100%;
	height: 160px;
}
.write_button {
	background-color: #475d9f;
	border: 1px solid #323f6b;
	color: #ffffff;
	border-radius: 4px;
	padding: 2px 8px;
	font-soze: 18px;
}
</style>
<div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Data Table</div>
        <div class="card-body">
          <div class="table-responsive">
                <a id="home_btn" class="write_button" href="{% url 'master_home' %}">home</a>

<div id="main">
    <div class="form-box">
        <form action="{{post.id}}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <!-- action 추가 필요 -->
            {% csrf_token %}
            <h2>게시물 수정</h2>
            제목:<input class="input_field" type="text" placeholder="{{finder_post.title}}" name="title"><br>
            작성자:<input class="input_field" type="text" placeholder="{{finder_post.user_nickname}}" name="user_nickname"><br>
            전화번호:<input class="input_field" type="text" placeholder="{{finder_post.phone_num}}" name="phone_num"><br>
            견종:<input class="input_field" type="text" placeholder="{{finder_post.dog_type}}" name="dog_type"><br>
            발견된 시간:<input class="input_field" type="text" placeholder="{{finder_post.find_time}}" name="find_time"><br>
            보호소:<input class="input_field" type="text" placeholder="{{finder_post.shelter}}" name="shelter"><br>
            특징:<textarea class="textarea_field" placeholder="{{finder_post.dog_feature}}" name="dog_feature"></textarea><br>
            이미지:<input type="file" name="picture" accept="image/x-png,image/gif,image/jpeg"><br>
            <button class="write_button">게시</button>
        </form>
    </div>
</div>

</div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
