{% load staticfiles %}
<!-- Custom fonts for this template-->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

<style>
.input_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
}
.form_box {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}
.textarea_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
    height: 160px;
}
.write_button {
    background-color: #475d9f;
    border: 1px solid #323f6b;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 18px;
}
.red_button {
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(200, 0, 0);
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 18px;
}
</style>

<a id="home_btn" class="write_button" href="{% url 'master_adopt_home' %}">home</a>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Phone Number</th>
            <th>Posted Time</th>
            <th>Dog Sex</th>
            <th>Dog Type</th>
            <th>Dog Age</th>
            <th>Neutralizer</th>
            <th>Vaccine</th>
            <th>Contents</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{adopt_post.imageurl}}" style="width: 150px; height: 150px;"></td>
            <td>{{ adopt_post.title }}</td>
            <td>{{ adopt_post.phone_num }}</td>
            <td>{{ adopt_post.posted_time }}</td>
            <td>{{ adopt_post.dog_sex }}</td>
            <td>{{ adopt_post.dog_type }}</td>
            <td>{{ adopt_post.dog_age }}</td>
            <td>{{ adopt_post.is_neu }}</td>
            <td>{{ adopt_post.is_vac }}</td>
            <td>{{ adopt_post.contents }}</td>
        </tr>
    </tbody>
</table>

<a id="list_btn" class="write_button" href="{% url 'master_adopt_post_list'%}">list</a>

<a id="update_btn" class="write_button" href="{% url 'master_adopt_post_update' pk=adopt_post.id  %}">update</a>

<a id="delete_btn" class="red_button" href="{% url 'master_adopt_post_delete' pk=adopt_post.id  %}">delete</a>

